<!-- <h1>interface application</h1>
<courses></courses>
<p>{{ body |resume: 5}}</p>
<favorite [is-favorite]= "post.isFavorite" (change)="onFavoriteChanged($event)"></favorite> -->
<panel>
    
    <div class="header">this is the header</div>
    <div class="body">
        
        <h3>this is the content</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates fuga magni delectus dolorum quaerat earum qui at eligendi tempora? Delectus tempora ipsa sapiente eveniet doloribus accusamus iste sequi non numquam!</p>
    </div>
</panel>

